In [274]:
import psycopg2
import psycopg2.extras
import csv
import os
import pandas as pd
from config2 import params2


# SPRINT 6
conn = psycopg2.connect(**params2)

In [275]:
# opening the csv containing bootcamps data
# to insert the data into tables in the database

df = pd.read_csv("./../data/combined_skills.csv")

In [276]:
# from the dataset, obtain the different school_names
school_set = set(df["school_name"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for sc in school_set:
    cmd = f"INSERT INTO bootcamps_edu.School (school_name) VALUES ('{sc}')"
    cursor.execute(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.School")
school_lst = cursor.fetchall()
conn.commit()
conn.close()

print(school_lst)

[(1, 'Juno College of Technology'), (2, 'Tech Elevator'), (3, 'The Tech Academy'), (4, 'Codeup'), (5, 'Launch Academy'), (6, 'Codesmith'), (7, 'Code Chrysalis'), (8, 'Turing School of Software and Design'), (9, 'Code Platoon')]

In [277]:
# insert into bootcamps_edu.Program table
# from the dataset, obtain the different programs
program_name_set = set(df["program_name"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for pr in program_name_set:
    cmd = f"INSERT INTO bootcamps_edu.Program (program_name) VALUES ('{pr}')"
    cursor.execute(cmd)
    #print(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.Program")
program_lst = cursor.fetchall()
conn.commit()
conn.close()

print(program_lst)

[(1, 'Full-Stack Web Development-Java'), (2, 'The Immersive Bootcamp'), (3, 'Back End Engineering'), (4, 'Software Developer BootCamp'), (5, 'Full-Stack Software Development'), (6, 'Front End Engineering'), (7, 'Full-Stack Web Development'), (8, 'Fundamentals of Web Development'), (9, 'Web Development Immersive'), (10, 'C# and .NET Boot Camp'), (11, 'Part-Time Full-Stack Web Development'), (12, 'Data Science BootCamp'), (13, 'Python Developer BootCamp'), (14, 'Data Analytics Bootcamp'), (15, 'Front-End Web Developer BootCamp')]

In [278]:
# insert states
# from the dataset, obtain the different states
state_set = set(df["state"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for st in state_set:
    cmd = f"INSERT INTO bootcamps_edu.State (name) VALUES ('{st}')"
    cursor.execute(cmd)
    #print(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.State")
state_lst = cursor.fetchall()
conn.commit()
conn.close()

print(state_lst)

[(1, 'Massachusetts'), (2, 'Utah'), (3, 'Japan'), (4, 'Ohio'), (5, 'Texas'), (6, 'Online'), (7, 'Canada'), (8, 'Delaware'), (9, 'Illinois'), (10, 'New York'), (11, 'Pennsylvania'), (12, 'California')]

In [279]:
# table bootcamps_edu.Location
#	id int PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY,
#	name varchar(50) not null,
#	state_id int not null REFERENCES bootcamps_edu.State (id)

# in the csv we have location (city), and state name
# we need to relate location (city) from csv, and state name from csv
# then get state id from table, using the state name
# then insert into table Location: location name and state_id

# get campus_location and state from csv (df)
locations_df = df[['campus_location', 'state']]

locations_lst = locations_df.values.tolist()

# connect to the database
conn = psycopg2.connect(**params2)

# get the states
cursor = conn.cursor()
cursor.execute("select * from bootcamps_edu.State")
state_lst = cursor.fetchall()
conn.commit()

states_df = pd.DataFrame(data=state_lst,columns=["id", "state"])

states_df

for l in locations_lst:
    id = states_df[states_df["state"] == l[1]]["id"]
    cmd = f"INSERT INTO bootcamps_edu.Location (name, state_id) VALUES ('{l[0]}', {int(id.values)})"
    cursor.execute(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.Location")
location_lst = cursor.fetchall()
conn.commit()
conn.close()

location_lst

[(1, 'Online', 6),
 (2, 'Online', 6),
 (3, 'Online', 6),
 (4, 'Dallas', 5),
 (5, 'Chicago', 9),
 (6, 'Pittsburgh', 11),
 (7, 'San Antonio', 5),
 (8, 'San Antonio', 5),
 (9, 'Chicago', 9),
 (10, 'Los Angeles', 12),
 (11, 'Remote', 6),
 (12, 'Cleveland', 4),
 (13, 'Columbus', 4),
 (14, 'San Antonio', 5),
 (15, 'San Antonio', 5),
 (16, 'Cincinnati', 4),
 (17, 'Chicago', 9),
 (18, 'Remote', 6),
 (19, 'Philadelphia', 11),
 (20, 'Online', 6),
 (21, 'Toronto', 7),
 (22, 'Online', 6),
 (23, 'Online', 6),
 (24, 'New York', 10),
 (25, 'Salt Lake City', 2),
 (26, 'Remote', 6),
 (27, 'Cleveland', 4),
 (28, 'Columbus', 4),
 (29, 'Tokyo', 3),
 (30, 'San Antonio - Vogue', 5),
 (31, 'Dallas', 5),
 (32, 'Cincinnati', 4),
 (33, 'Dallas', 5),
 (34, 'Chicago', 9),
 (35, 'Boston', 1),
 (36, 'San Antonio - Vogue', 5),
 (37, 'Pittsburgh', 11),
 (38, 'Remote', 6),
 (39, 'Online', 6),
 (40, 'Remote', 6),
 (41, 'Online', 6),
 (42, 'Online', 6),
 (43, 'Remote', 6),
 (44, 'Philadelphia', 11),
 (45, 'Online', 6),
 (46, 'Toronto', 7),
 (47, 'Online', 6),
 (48, 'Online', 6),
 (49, 'Toronto', 7),
 (50, 'Online', 6),
 (51, 'Online', 6),
 (52, 'Remote', 6),
 (53, 'Wilmington', 8),
 (54, 'Cleveland', 4),
 (55, 'Dallas', 5),
 (56, 'Boston', 1),
 (57, 'Columbus', 4),
 (58, 'Wilmington', 8),
 (59, 'Pittsburgh', 11),
 (60, 'San Antonio - Vogue', 5),
 (61, 'Philadelphia', 11),
 (62, 'Chicago', 9),
 (63, 'San Antonio - Vogue', 5),
 (64, 'Online', 6),
 (65, 'Remote', 6),
 (66, 'Cincinnati', 4),
 (67, 'Online', 6)]

In [ ]:
# insert program_location

In [ ]:
# insert program_date

In [280]:
# insert skills to the datatabase
columns = df.columns.values.tolist()

col = 0
for c in columns:
    #print(col, c)
    col += 1

# 4 to 35 are skills

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.Skill table
cursor = conn.cursor()
col = 0
for c in columns:
    if col >= 4 and col <= 35:
        cmd = f"INSERT INTO bootcamps_edu.Skill (skill) VALUES ('{c}')"
        cursor.execute(cmd)
        #print(cmd)
    col += 1

conn.commit()
cursor.execute("select * from bootcamps_edu.Skill")
skill_lst = cursor.fetchall()
conn.commit()
conn.close()

print(skill_lst)

[(1, 'java'), (2, 'csharp_net'), (3, 'html'), (4, 'css'), (5, 'javascript'), (6, 'es6'), (7, 'jquery'), (8, 'nodejs'), (9, 'reactjs'), (10, 'redux'), (11, 'heroku'), (12, 'sql'), (13, 'mysql'), (14, 'postgress'), (15, 'mongodb'), (16, 'firebase'), (17, 'git'), (18, 'spring'), (19, 'api'), (20, 'applied_stats'), (21, 'python'), (22, 'r'), (23, 'regression'), (24, 'classification'), (25, 'clustering'), (26, 'time_series_analysis'), (27, 'anomaly_detection'), (28, 'language_processing'), (29, 'machine_learning'), (30, 'advanced_topics'), (31, 'story_telling_with_data'), (32, 'domain_expertise_development')]

In [ ]:
# insert program_skills