In [129]:
import psycopg2
import psycopg2.extras
import csv
import os
from config2 import params2


# SPRINT 6
conn = psycopg2.connect(**params2)

In [142]:
# opening the csv containing bootcamps data
# to insert the data into tables in the database

df = pd.read_csv("./../data/combined_skills.csv")

        campus_location     state
0                Online       NaN
1                Online       NaN
2                Online       NaN
3                Dallas     Texas
4               Chicago  Illinois
..                  ...       ...
62  San Antonio - Vogue     Texas
63               Online       NaN
64               Remote       NaN
65           Cincinnati      Ohio
66               Online       NaN

[67 rows x 2 columns]

In [131]:
# from the dataset, obtain the different school_names
school_set = set(df["school_name"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for sc in school_set:
    cmd = f"INSERT INTO bootcamps_edu.School (school_name) VALUES ('{sc}')"
    cursor.execute(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.School")
school_lst = cursor.fetchall()
conn.commit()
conn.close()

print(school_lst)

[(1, 'Juno College of Technology'), (2, 'Tech Elevator'), (3, 'The Tech Academy'), (4, 'Codeup'), (5, 'Launch Academy'), (6, 'Codesmith'), (7, 'Code Chrysalis'), (8, 'Turing School of Software and Design'), (9, 'Code Platoon')]

In [132]:
# insert into bootcamps_edu.Program table
# from the dataset, obtain the different programs
program_name_set = set(df["program_name"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for pr in program_name_set:
    cmd = f"INSERT INTO bootcamps_edu.Program (program_name) VALUES ('{pr}')"
    cursor.execute(cmd)
    #print(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.Program")
program_lst = cursor.fetchall()
conn.commit()
conn.close()

print(program_lst)

[(1, 'Full-Stack Web Development-Java'), (2, 'The Immersive Bootcamp'), (3, 'Back End Engineering'), (4, 'Software Developer BootCamp'), (5, 'Full-Stack Software Development'), (6, 'Front End Engineering'), (7, 'Full-Stack Web Development'), (8, 'Fundamentals of Web Development'), (9, 'Web Development Immersive'), (10, 'C# and .NET Boot Camp'), (11, 'Part-Time Full-Stack Web Development'), (12, 'Data Science BootCamp'), (13, 'Python Developer BootCamp'), (14, 'Data Analytics Bootcamp'), (15, 'Front-End Web Developer BootCamp')]

In [134]:
# insert states
# from the dataset, obtain the different states
state_set = set(df["state"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.School table
cursor = conn.cursor()
for st in state_set:
    cmd = f"INSERT INTO bootcamps_edu.State (name) VALUES ('{st}')"
    cursor.execute(cmd)
    #print(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.State")
state_lst = cursor.fetchall()
conn.commit()
conn.close()

print(state_lst)

[(1, 'Massachusetts'), (2, 'Utah'), (3, 'Japan'), (4, 'Ohio'), (5, 'Texas'), (6, 'Canada'), (7, 'Delaware'), (8, 'nan'), (9, 'Illinois'), (10, 'New York'), (11, 'Pennsylvania'), (12, 'California')]

In [166]:
locations_df = df[['campus_location', 'state']]

locations_set = set()
for v in locations_df.values:
    #print(v[0], v[1])
    locations_set.add((v[0], v[1]))

for l in locations_set:
    print(l[0], l[1])

Boston Massachusetts
Chicago Illinois
Columbus Ohio
Philadelphia Pennsylvania
Wilmington Delaware
San Antonio - Vogue Texas
Dallas Texas
Toronto Canada
Remote nan
Tokyo Japan
Cleveland Ohio
San Antonio Texas
Salt Lake City Utah
Los Angeles California
Cincinnati Ohio
Pittsburgh Pennsylvania
New York New York
Online nan

In [122]:
# insert into bootcamps_edu.Location table
# from the dataset, obtain the different programs
# P E N D I N G,  W E  N E E D  S T A TE first


df[['campus_location', 'state']]

location_set = set(df["campus_location"])

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.Location table
cursor = conn.cursor()
for lc in location_set:
    cmd = f"INSERT INTO bootcamps_edu.Location (name) VALUES ('{lc}')"
    cursor.execute(cmd)
    #print(cmd)

conn.commit()
cursor.execute("select * from bootcamps_edu.Location")
location_lst = cursor.fetchall()
conn.commit()
conn.close()

print(location_lst)

NotNullViolation: null value in column "state_id" of relation "location" violates not-null constraint
DETAIL:  Failing row contains (1, Wilmington, null).

In [ ]:
# insert program_location

In [ ]:
# insert program_date

In [124]:
# insert skills to the datatabase
columns = df.columns.values.tolist()

col = 0
for c in columns:
    #print(col, c)
    col += 1

# 4 to 35 are skills

# connect to the database
conn = psycopg2.connect(**params2)

# insert into bootcamps_edu.Skill table
cursor = conn.cursor()
col = 0
for c in columns:
    if col >= 4 and col <= 35:
        cmd = f"INSERT INTO bootcamps_edu.Skill (skill) VALUES ('{c}')"
        cursor.execute(cmd)
        #print(cmd)
    col += 1

conn.commit()
cursor.execute("select * from bootcamps_edu.Skill")
skill_lst = cursor.fetchall()
conn.commit()
conn.close()

print(skill_lst)

[(1, 'java'), (2, 'csharp_net'), (3, 'html'), (4, 'css'), (5, 'javascript'), (6, 'es6'), (7, 'jquery'), (8, 'nodejs'), (9, 'reactjs'), (10, 'redux'), (11, 'heroku'), (12, 'sql'), (13, 'mysql'), (14, 'postgress'), (15, 'mongodb'), (16, 'firebase'), (17, 'git'), (18, 'spring'), (19, 'api'), (20, 'applied_stats'), (21, 'python'), (22, 'r'), (23, 'regression'), (24, 'classification'), (25, 'clustering'), (26, 'time_series_analysis'), (27, 'anomaly_detection'), (28, 'language_processing'), (29, 'machine_learning'), (30, 'advanced_topics'), (31, 'story_telling_with_data'), (32, 'domain_expertise_development')]

In [ ]:
# insert program_skills